In [1]:
import pandas as pd

In [2]:
arr = []

In [ ]:
# 파일명.txt로 뽑힐 때의 버전
i = 0

while(True):
    try:
        if (i < 10):
            f = open("0000{}.txt".format(i), 'r')
            arr.append(f.readline())
        elif (i < 100):
            f = open("000{}.txt".format(i), 'r')
            arr.append(f.readline())
        elif (i < 1000):
            f = open("00{}.txt".format(i), 'r')
            arr.append(f.readline())
        elif (i < 10000):
            f = open("0{}.txt".format(i), 'r')
            arr.append(f.readline())
        elif (i < 75000):
            f = open("{}.txt".format(i), 'r')
            arr.append(f.readline())
        else:
            break
        i += 1
    except:
        continue
f.close()

In [3]:
# data.txt로 뽑힐 때의 버전

i = 0
while(True):
    try:
        if (i == 0):
            f = open("data.txt", 'r')
            arr.append(f.readline())
        else:
            f = open("data ({}).txt".format(i), 'r')
            arr.append(f.readline())
        i += 1
    except:
        break
f.close()

In [4]:
df = pd.DataFrame(arr)

In [5]:
df

                                                     0
0    322.8525695800781,117.72525024414062,7.2192802...
1    316.5731201171875,118.24846649169922,6.1882324...
2    316.2164306640625,132.6868438720703,-13.174918...
3    317.718017578125,120.55618286132812,-17.941429...
4    314.1623229980469,132.9160919189453,-3.2316868...
..                                                 ...
96   315.13323974609375,127.19055938720703,-9.81531...
97   323.05535888671875,115.9223861694336,-0.814285...
98   317.007568359375,117.48397064208984,-3.8705859...
99   318.6416320800781,110.84397888183594,-14.12328...
100  319.9682922363281,133.80133056640625,-11.73374...

[101 rows x 1 columns]

In [6]:
df.to_csv("rect.csv", mode='w')