In [1]:
import pandas as pd

In [7]:
arr = []

In [ ]:
# 파일명.txt로 뽑힐 때의 버전
i = 0

while(True):
    try:
        if (i < 10):
            f = open("0000{}.txt".format(i), 'r')
            arr.append(f.readline())
        elif (i < 100):
            f = open("000{}.txt".format(i), 'r')
            arr.append(f.readline())
        elif (i < 1000):
            f = open("00{}.txt".format(i), 'r')
            arr.append(f.readline())
        elif (i < 10000):
            f = open("0{}.txt".format(i), 'r')
            arr.append(f.readline())
        elif (i < 75000):
            f = open("{}.txt".format(i), 'r')
            arr.append(f.readline())
        else:
            break
        i += 1
    except:
        continue
f.close()

In [8]:
# data.txt로 뽑힐 때의 버전

i = 0
while(True):
    try:
        if (i == 0):
            f = open("data.txt", 'r')
            arr.append(f.readline())
        else:
            f = open("data ({}).txt".format(i), 'r')
            arr.append(f.readline())
        i += 1
    except:
        break
f.close()

In [9]:
df = pd.DataFrame(arr)

In [10]:
df

                                                    0
0   165.72535705566406,236.93824768066406,183.8832...
1   164.89459228515625,238.39984130859375,184.7095...
2   165.72535705566406,236.93824768066406,183.8832...
3   164.89459228515625,238.39984130859375,184.7095...
4   165.72535705566406,236.93824768066406,183.8832...
5   164.89459228515625,238.39984130859375,184.7095...
6   211.91297912597656,162.76708984375,236.1171417...
7   185.82398986816406,204.27908325195312,202.8289...
8   211.91297912597656,162.76708984375,236.1171417...
9   185.82398986816406,204.27908325195312,202.8289...
10  211.91297912597656,162.76708984375,236.1171417...
11  185.82398986816406,204.27908325195312,202.8289...

In [11]:
df.to_csv("egg.csv", mode='w')