In [1]:
import pandas as pd

In [18]:
i = 0
arr = []

while(True):
    try:
        if (i == 0):
            f = open("C:\\Users\\tjdal\\Downloads\\data.txt", 'r')
            arr.append(f.readline())
        else:
            f = open("C:\\Users\\tjdal\\Downloads\\data ({}).txt".format(i), 'r')
            arr.append(f.readline())
        i += 1
    except:
        break

In [19]:
df = pd.DataFrame(arr)

In [20]:
df

                                                   0
0  319.6728210449219,454.6239013671875,-14.987775...
1  319.7936096191406,441.08453369140625,-16.70392...
2  319.3653869628906,464.1637268066406,-14.415585...
3  314.7397766113281,452.1307067871094,-12.401732...