In [1]:
import pandas as pd

In [2]:
arr = []

In [15]:
i = 0

while(True):
    try:
        if (i == 0):
            f = open("C:\\Users\\tjdal\\Downloads\\data.txt", 'r')
            arr.append(f.readline())
        else:
            f = open("C:\\Users\\tjdal\\Downloads\\data ({}).txt".format(i), 'r')
            arr.append(f.readline())
        i += 1
    except:
        break
f.close()

In [16]:
df = pd.DataFrame(arr)

In [17]:
df

                                                     0
0    313.05938720703125,350.0303649902344,-9.099099...
1    319.6861877441406,334.2759704589844,-14.294747...
2    320.7561950683594,340.4932556152344,-14.969228...
3    324.42877197265625,324.77130126953125,-19.2335...
4    317.93377685546875,333.7342529296875,-11.28937...
..                                                 ...
500  321.7032470703125,337.7916564941406,-15.063871...
501  311.54266357421875,352.1099548339844,-13.05161...
502  320.305419921875,343.4136962890625,-9.70402145...
503  325.5719909667969,319.3226623535156,-22.182332...
504  325.0585632324219,332.65740966796875,-11.77759...

[505 rows x 1 columns]