In [149]:
import pandas as pd
df = pd.read_csv('C:/Users/jobgs/Desktop/egg500.csv')

In [150]:
df

     Unnamed: 0                                                  0
0             0  314.1766052246094,117.48346710205078,-18.91581...
1             1  317.7927551269531,122.17198181152344,-12.76543...
2             2  318.0444641113281,121.91008758544922,-7.353641...
3             3  325.2165832519531,124.67527770996094,6.7609629...
4             4  316.7819519042969,132.620361328125,-15.2499885...
..          ...                                                ...
500         500  317.1971130371094,120.33970642089844,-2.395830...
501         501  318.1765441894531,121.71635437011719,-13.15480...
502         502  321.4010009765625,120.05619812011719,-22.81327...
503         503  314.84808349609375,132.69203186035156,-32.4134...
504         504  317.2925720214844,114.15347290039062,-9.832712...

[505 rows x 2 columns]

In [151]:
df['Unnamed: 0']

0        0
1        1
2        2
3        3
4        4
      ...
500    500
501    501
502    502
503    503
504    504
Name: Unnamed: 0, Length: 505, dtype: int64

In [152]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [153]:
df

                                                     0
0    314.1766052246094,117.48346710205078,-18.91581...
1    317.7927551269531,122.17198181152344,-12.76543...
2    318.0444641113281,121.91008758544922,-7.353641...
3    325.2165832519531,124.67527770996094,6.7609629...
4    316.7819519042969,132.620361328125,-15.2499885...
..                                                 ...
500  317.1971130371094,120.33970642089844,-2.395830...
501  318.1765441894531,121.71635437011719,-13.15480...
502  321.4010009765625,120.05619812011719,-22.81327...
503  314.84808349609375,132.69203186035156,-32.4134...
504  317.2925720214844,114.15347290039062,-9.832712...

[505 rows x 1 columns]

In [154]:
df1 = df.T

In [161]:
df1

,0,1,2,3,4,5,6,7,8,9,...,495,496,497,498,499,500,501,502,503,504
0,"314.1766052246094,117.48346710205078,-18.91581...","317.7927551269531,122.17198181152344,-12.76543...","318.0444641113281,121.91008758544922,-7.353641...","325.2165832519531,124.67527770996094,6.7609629...","316.7819519042969,132.620361328125,-15.2499885...","316.3262023925781,131.6354217529297,-23.699148...","320.31219482421875,138.34524536132812,-15.5755...","324.6680908203125,120.36164093017578,-10.50434...","324.9553527832031,129.4081573486328,-4.5486989...","316.2752685546875,118.35853576660156,-8.314865...",...,"313.7976379394531,125.99066162109375,-19.24320...","321.7485656738281,128.69764709472656,7.8872585...","316.0415954589844,131.6702423095703,-12.425557...","310.578369140625,126.93970489501953,-25.187507...","313.0694885253906,126.5086441040039,-8.6672763...","317.1971130371094,120.33970642089844,-2.395830...","318.1765441894531,121.71635437011719,-13.15480...","321.4010009765625,120.05619812011719,-22.81327...","314.84808349609375,132.69203186035156,-32.4134...","317.2925720214844,114.15347290039062,-9.832712..."

In [168]:
# 첫번째 사진의 output에 대해 dataframe을 생성
tmp = df1[0].str.split(",")
df2 = pd.DataFrame(data=[tmp.str.get(j) for j in range(390)], index=range(390))
df2.loc[390] = "Egg"
df2 = df2.T
df2

,0,1,2,3,4,5,6,7,8,9,...,381,382,383,384,385,386,387,388,389,390
0,314.1766052246094,117.48346710205078,-18.915817260742188,153.8292999267578,178.7569122314453,24.398088455200195,255.84239196777344,431.1864318847656,9.71009635925293,147.7045135498047,...,419.0993957519531,331.1247253417969,6.279438018798828,476.0539245605469,261.8459777832031,39.11909866333008,472.4554443359375,261.63519287109375,60.36833953857422,Egg

In [169]:
# 2번째 사진부터 마지막 사진까지 각각 output을 구하고 그에 대한 dataframe을 생성하면서
# 동시에 df2(첫번째 사진의 dataframe)에 이어 붙인다.
for i in range(1, len(df1.columns)):
    temp = df1[i].str.split(",")
    df3 = pd.DataFrame(data=[temp.str.get(j) for j in range(390)], index=range(390))
    df3.loc[390] = "Egg"
    df3 = df3.T
    df2 = pd.concat([df2,df3])

In [180]:
df2 = df2.reset_index(drop=True)

In [181]:
df2

,0,1,2,3,4,5,6,7,8,9,...,381,382,383,384,385,386,387,388,389,390
0,314.1766052246094,117.48346710205078,-18.915817260742188,153.8292999267578,178.7569122314453,24.398088455200195,255.84239196777344,431.1864318847656,9.71009635925293,147.7045135498047,...,419.0993957519531,331.1247253417969,6.279438018798828,476.0539245605469,261.8459777832031,39.11909866333008,472.4554443359375,261.63519287109375,60.36833953857422,Egg
1,317.7927551269531,122.17198181152344,-12.765436172485352,151.25144958496094,174.8146209716797,30.85711097717285,263.4358215332031,389.51910400390625,7.068997859954834,148.15753173828125,...,400.7327880859375,328.2831115722656,0.8349483013153076,487.37384033203125,251.2147674560547,38.52608871459961,485.79901123046875,247.9528350830078,60.76279067993164,Egg
2,318.0444641113281,121.91008758544922,-7.353641033172607,167.6919403076172,185.09986877441406,35.5128288269043,269.35394287109375,414.77874755859375,0.8806917667388916,162.38772583007812,...,410.85650634765625,334.53204345703125,0.24355053901672363,482.86834716796875,263.95513916015625,39.70124816894531,483.29443359375,266.5848693847656,61.88846969604492,Egg
3,325.2165832519531,124.67527770996094,6.760962963104248,167.48309326171875,193.2979736328125,43.35021209716797,260.32470703125,410.7841796875,-8.900079727172852,158.7091064453125,...,422.09906005859375,322.901611328125,-1.9736300706863403,487.4309997558594,275.7064514160156,41.693145751953125,486.611328125,284.6763000488281,62.74064254760742,Egg
4,316.7819519042969,132.620361328125,-15.249988555908203,160.1381072998047,185.4965057373047,30.462039947509766,264.3351135253906,392.4128723144531,5.548612594604492,154.6831817626953,...,415.54827880859375,322.0713806152344,2.295574426651001,489.642578125,257.9356689453125,37.894901275634766,490.55987548828125,257.71185302734375,59.75380325317383,Egg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,317.1971130371094,120.33970642089844,-2.3958308696746826,164.36474609375,186.5255584716797,33.08181381225586,270.176025390625,419.2999267578125,-4.3757476806640625,158.80679321289062,...,405.7069091796875,334.2565002441406,1.4064444303512573,467.56781005859375,266.8171081542969,43.80577850341797,465.6212463378906,271.5752258300781,65.25166320800781,Egg
501,318.1765441894531,121.71635437011719,-13.154806137084961,167.6377716064453,178.6958770751953,33.31718826293945,265.5474548339844,410.8390197753906,6.179855823516846,162.32533264160156,...,408.2233581542969,336.2462158203125,0.60927814245224,487.1373291015625,257.9349670410156,36.43275833129883,488.1513366699219,257.03765869140625,58.599430084228516,Egg
502,321.4010009765625,120.05619812011719,-22.81327247619629,162.11253356933594,175.68435668945312,20.613500595092773,268.7447204589844,423.0989685058594,10.776676177978516,157.0914306640625,...,412.3102722167969,338.1819152832031,6.713495254516602,475.48974609375,258.19769287109375,39.975868225097656,473.0086669921875,255.61618041992188,61.70991516113281,Egg
503,314.84808349609375,132.69203186035156,-32.4134635925293,172.07571411132812,173.9715576171875,25.34524154663086,261.9834899902344,401.2782897949219,20.28600311279297,167.69212341308594,...,422.90814208984375,331.5908203125,3.606581211090088,507.4143371582031,252.34292602539062,25.723642349243164,513.4761352539062,245.09767150878906,46.646419525146484,Egg
504,317.2925720214844,114.15347290039062,-9.832712173461914,146.1172332763672,178.92417907714844,33.467002868652344,254.35382080078125,422.5953369140625,2.321225881576538,139.7860565185547,...,416.1735534667969,339.8353576660156,1.1520156860351562,496.7921447753906,266.60699462890625,39.25263977050781,496.85382080078125,267.9102783203125,61.13298034667969,Egg

In [ ]:
# 최종 csv파일을 얼굴형에 맞는 이름으로 저장한다.
# 계란형 - Egg, 둥근형 - Circle, 각진형 - Angled, ...
df2.to_csv('Egg.csv',index=False)